.footer{
    position: absolute;
    bottom: 0;
    height: 60px;
}
body{
    background-image: url("../../assets/images/crystal-ball.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
}
h1, h5{
    padding-right: 50px;
    position: initial ;
}
h1{
    padding-top: 300px;
}